header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    height: 44px;
    padding: 0 16px;

    background: rgba(251, 251, 253, 0.5);
    backdrop-filter: blur(14px);

    p {
        margin: 0;
        font-weight: 600;
    }
}
