.contentBlock {
    border-radius: 20px;
    margin-top: 50px;
    display: block;
    opacity: 1;
    max-width: 600px;
    max-height: 600px;
    width: 600px;
    height: 500px;
    background: rgba(101, 101, 101, 70%);
    transition: 1s opacity;
    margin-bottom: 40px;
    padding: 20px;

    &.hidden {
        opacity: 0;
    }
}
